# Project : Crimes in India

# Phase 1: Data Collection/preparation part.

# * Req_1 : The population of each state (Data: 1951 to 2023) *

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

By past population (1947 to 2022)

Ref: https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population

In [2]:
#Read data from specified URL

population_df1 = pd.read_html("https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population")
df11 = pd.DataFrame(population_df1[0])
df11

,Rank,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11]
0,1,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,1.660536e+08,199581477
1,2,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,9.675250e+07,112372972
2,3,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,8.287991e+07,103804630
3,4,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,8.022130e+07,91347736
4,5,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,6.038509e+07,72597565
5,6,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,6.211139e+07,72138958
6,7,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,5.647330e+07,68621012
7,8,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,5.273499e+07,61130704
8,9,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,5.059720e+07,60383628
9,10,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,7.572840e+07,49386799
10,11,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,3.670790e+07,41947358
11,12,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,35193978
12,13,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,3.183900e+07,33387677
13,14,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,2.694607e+07,32988134
14,15,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,2.663860e+07,31169272
15,16,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,2.428913e+07,27704236
16,17,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,2.108390e+07,25753081
17,18,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,2.083453e+07,25540196
18,19,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,1.007030e+07,12548926
19,20,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8.489100e+06,10116752
20,21,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6.077453e+06,6856509
21,22,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3.191880e+06,3671032
22,23,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2.306540e+06,2964007
23,24,Manipur,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2.294480e+06,2721756
24,25,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1.990275e+06,1980602
25,26,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1.348900e+06,1457723
26,27,Arunachal Pradesh,NaN,337300.0,468885.0,632502.0,865900.0,1.098328e+06,1382611
27,28,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,8.896900e+05,1091014
28,29,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,5.419020e+05,607688
29,UT1,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,1.385150e+07,16753235
30,UT2,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,9.748200e+05,1244464
31,UT3,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,9.010800e+05,1054686
32,UT4,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,3.566500e+05,379944
33,UT5,Dadra and Nagar Haveli,42846.0,58020.0,74880.0,104300.0,138290.0,2.209630e+05,342853
34,UT6,Daman and Diu,49482.0,37587.0,63000.0,79842.0,102110.0,1.580800e+05,242911
35,UT7,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,6.130000e+04,64429
36,Total,India,361088400.0,439235720.0,548160050.0,683329900.0,846421830.0,1.028738e+09,1210193422

df11.loc[len(df11.index)] = ['UT8','Ladakh', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 274289]
df11

# Notes: 

1. State Formation of Telangana : June, 2014, 
    
2. State Formation of Ladakh    : October, 2019
    
3. Census used for the first time in 1961 in Arunachal Pradesh.

that's way all columns of Telangana & Ladakh as NAN.

In [4]:
df11.iloc[33] = df11.iloc[33:35].sum()  # As Dadra Nagar Haveli and Daman & Diu consider one UT in other dataset. 
df11 = df11.drop([df11.index[34],df11.index[36]]) # Not required total population right now.

df11.sort_values(by=['State or union territory'],inplace=True) # Sorted A to Z
df11.reset_index(inplace=True,drop=True)
df11

,Rank,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11]
0,UT4,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,356650.0,379944
1,10,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,75728400.0,49386799
2,27,Arunachal Pradesh,NaN,337300.0,468885.0,632502.0,865900.0,1098328.0,1382611
3,15,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,26638600.0,31169272
4,3,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,82879910.0,103804630
5,UT3,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,901080.0,1054686
6,18,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,20834530.0,25540196
7,UT5UT6,Dadra and Nagar HaveliDaman and Diu,92328.0,95607.0,137880.0,184142.0,240400.0,379043.0,585764
8,UT1,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,13851503.0,16753235
9,26,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1348900.0,1457723
10,9,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,50597200.0,60383628
11,17,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,21083900.0,25753081
12,21,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6077453.0,6856509
13,19,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,10070300.0,12548926
14,14,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,26946070.0,32988134
15,8,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,52734986.0,61130704
16,13,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,31839000.0,33387677
17,UT8,Ladakh,NaN,NaN,NaN,NaN,NaN,NaN,274289
18,UT7,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,61300.0,64429
19,5,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,60385090.0,72597565
20,2,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,96752500.0,112372972
21,24,Manipur,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2294480.0,2721756
22,23,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2306540.0,2964007
23,28,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,889690.0,1091014
24,25,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1990275.0,1980602
25,11,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,36707900.0,41947358
26,UT2,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,974820.0,1244464
27,16,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,24289130.0,27704236
28,7,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,56473300.0,68621012
29,29,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,541902.0,607688
30,6,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,62111390.0,72138958
31,12,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,35193978
32,22,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3191880.0,3671032
33,1,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,166053600.0,199581477
34,20,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8489100.0,10116752
35,4,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,80221300.0,91347736

Indian States by Population 2023

Ref: https://www.findeasy.in/top-indian-states-by-population/

In [5]:
#Read data from specified URL

population_df2 = pd.read_html("https://www.findeasy.in/top-indian-states-by-population/",header=0)
df12 = pd.DataFrame(population_df2[0])
df12

   Rank                                States  2011 Census  2023 estimates
0     1                         Uttar Pradesh    199812341       235687000
1     2                           Maharashtra    112374333       126385000
2     3                                 Bihar    104099452       126756000
3     4                           West Bengal     91276115        99084000
4     5                        Madhya Pradesh     72626809        86579000
5     6                            Tamil Nadu     72147030        76860000
6     7                             Rajasthan     68548437        81025000
7     8                             Karnataka     61095297        67692000
8     9                               Gujarat     60439692        71507000
9    10                        Andhra Pradesh     49386799        53156000
10   11                                Odisha     41974218        46276000
11   12                             Telangana     35193978        38090000
12   13                                Kerala     33406061        35776000
13   14                             Jharkhand     32988134        39466000
14   15                                 Assam     31205576        35713000
15   16                                Punjab     27743338        30730000
16   17                          Chhattisgarh     25545198        30180000
17   18                               Haryana     25351462        30209000
18  UT1                                 Delhi     16787941        21359000
19  UT2                       Jammu & Kashmir     12258433        13603000
20   19                           Uttarakhand     10086292        11637000
21   20                      Himachal Pradesh      6864602         7468000
22   21                               Tripura      3673917         4147000
23   22                             Meghalaya      2966889         3349000
24   23                               Manipur      2855794         3223000
25   24                              Nagaland      1978502         2233000
26   25                                   Goa      1458545         1575000
27   26                     Arunachal Pradesh      1383727         1562000
28  UT3                            Puducherry      1247953         1646000
29   27                               Mizoram      1097206         1238000
30  UT4                            Chandigarh      1055450         1231000
31   28                                Sikkim       610577          689000
32  UT5  Dadra & Nagar Haveli and Daman & Diu       586956         1263000
33  UT6                     Andaman & Nicobar       380581          403000
34  UT7                                Ladakh       274289          300000
35  UT8                           Lakshadweep        64473           69000

In [6]:
df12.sort_values(by=['States'],inplace=True) # Sorted by A to Z
df12.drop(columns=['Rank','2011 Census'],inplace=True) # Not required these columns as we have already in df1
df12.reset_index(inplace=True,drop=True)
df12

                                  States  2023 estimates
0                      Andaman & Nicobar          403000
1                         Andhra Pradesh        53156000
2                      Arunachal Pradesh         1562000
3                                  Assam        35713000
4                                  Bihar       126756000
5                             Chandigarh         1231000
6                           Chhattisgarh        30180000
7   Dadra & Nagar Haveli and Daman & Diu         1263000
8                                  Delhi        21359000
9                                    Goa         1575000
10                               Gujarat        71507000
11                               Haryana        30209000
12                      Himachal Pradesh         7468000
13                       Jammu & Kashmir        13603000
14                             Jharkhand        39466000
15                             Karnataka        67692000
16                                Kerala        35776000
17                                Ladakh          300000
18                           Lakshadweep           69000
19                        Madhya Pradesh        86579000
20                           Maharashtra       126385000
21                               Manipur         3223000
22                             Meghalaya         3349000
23                               Mizoram         1238000
24                              Nagaland         2233000
25                                Odisha        46276000
26                            Puducherry         1646000
27                                Punjab        30730000
28                             Rajasthan        81025000
29                                Sikkim          689000
30                            Tamil Nadu        76860000
31                             Telangana        38090000
32                               Tripura         4147000
33                         Uttar Pradesh       235687000
34                           Uttarakhand        11637000
35                           West Bengal        99084000

In [7]:
df1 = pd.concat([df11,df12],axis=1)
df1

,Rank,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11],States,2023 estimates
0,UT4,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,356650.0,379944,Andaman & Nicobar,403000
1,10,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,75728400.0,49386799,Andhra Pradesh,53156000
2,27,Arunachal Pradesh,NaN,337300.0,468885.0,632502.0,865900.0,1098328.0,1382611,Arunachal Pradesh,1562000
3,15,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,26638600.0,31169272,Assam,35713000
4,3,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,82879910.0,103804630,Bihar,126756000
5,UT3,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,901080.0,1054686,Chandigarh,1231000
6,18,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,20834530.0,25540196,Chhattisgarh,30180000
7,UT5UT6,Dadra and Nagar HaveliDaman and Diu,92328.0,95607.0,137880.0,184142.0,240400.0,379043.0,585764,Dadra & Nagar Haveli and Daman & Diu,1263000
8,UT1,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,13851503.0,16753235,Delhi,21359000
9,26,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1348900.0,1457723,Goa,1575000
10,9,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,50597200.0,60383628,Gujarat,71507000
11,17,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,21083900.0,25753081,Haryana,30209000
12,21,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6077453.0,6856509,Himachal Pradesh,7468000
13,19,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,10070300.0,12548926,Jammu & Kashmir,13603000
14,14,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,26946070.0,32988134,Jharkhand,39466000
15,8,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,52734986.0,61130704,Karnataka,67692000
16,13,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,31839000.0,33387677,Kerala,35776000
17,UT8,Ladakh,NaN,NaN,NaN,NaN,NaN,NaN,274289,Ladakh,300000
18,UT7,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,61300.0,64429,Lakshadweep,69000
19,5,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,60385090.0,72597565,Madhya Pradesh,86579000
20,2,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,96752500.0,112372972,Maharashtra,126385000
21,24,Manipur,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2294480.0,2721756,Manipur,3223000
22,23,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2306540.0,2964007,Meghalaya,3349000
23,28,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,889690.0,1091014,Mizoram,1238000
24,25,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1990275.0,1980602,Nagaland,2233000
25,11,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,36707900.0,41947358,Odisha,46276000
26,UT2,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,974820.0,1244464,Puducherry,1646000
27,16,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,24289130.0,27704236,Punjab,30730000
28,7,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,56473300.0,68621012,Rajasthan,81025000
29,29,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,541902.0,607688,Sikkim,689000
30,6,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,62111390.0,72138958,Tamil Nadu,76860000
31,12,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,35193978,Telangana,38090000
32,22,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3191880.0,3671032,Tripura,4147000
33,1,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,166053600.0,199581477,Uttar Pradesh,235687000
34,20,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8489100.0,10116752,Uttarakhand,11637000
35,4,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,80221300.0,91347736,West Bengal,99084000

In [8]:
df1.drop(columns=['States','Rank'],inplace=True) # Drop unwanted columns
df1.reset_index(inplace=True,drop=True)
df1.rename(columns = {'2023 estimates':'Population 2023'}, inplace = True)
df1

,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11],Population 2023
0,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,356650.0,379944,403000
1,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,75728400.0,49386799,53156000
2,Arunachal Pradesh,NaN,337300.0,468885.0,632502.0,865900.0,1098328.0,1382611,1562000
3,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,26638600.0,31169272,35713000
4,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,82879910.0,103804630,126756000
5,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,901080.0,1054686,1231000
6,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,20834530.0,25540196,30180000
7,Dadra and Nagar HaveliDaman and Diu,92328.0,95607.0,137880.0,184142.0,240400.0,379043.0,585764,1263000
8,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,13851503.0,16753235,21359000
9,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1348900.0,1457723,1575000
10,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,50597200.0,60383628,71507000
11,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,21083900.0,25753081,30209000
12,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6077453.0,6856509,7468000
13,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,10070300.0,12548926,13603000
14,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,26946070.0,32988134,39466000
15,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,52734986.0,61130704,67692000
16,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,31839000.0,33387677,35776000
17,Ladakh,NaN,NaN,NaN,NaN,NaN,NaN,274289,300000
18,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,61300.0,64429,69000
19,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,60385090.0,72597565,86579000
20,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,96752500.0,112372972,126385000
21,Manipur,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2294480.0,2721756,3223000
22,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2306540.0,2964007,3349000
23,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,889690.0,1091014,1238000
24,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1990275.0,1980602,2233000
25,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,36707900.0,41947358,46276000
26,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,974820.0,1244464,1646000
27,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,24289130.0,27704236,30730000
28,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,56473300.0,68621012,81025000
29,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,541902.0,607688,689000
30,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,62111390.0,72138958,76860000
31,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,35193978,38090000
32,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3191880.0,3671032,4147000
33,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,166053600.0,199581477,235687000
34,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8489100.0,10116752,11637000
35,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,80221300.0,91347736,99084000

In [9]:
df1.replace(np.nan,'NA',inplace=True)
Indian_Population_File = df1
Indian_Population_File.to_csv('Indian_Population_upto-2023.csv')

# * Req_2 : Literacy Rate in each state (Data: 1951 to 2023) *

Summary by Office of the Registrar General and Census Commissioner, Ministry of Home Affairs, Government of India; literacy rates as % of population.

Ref: https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate

In [10]:
#Read data from specified URL

Literacy_df1 = pd.read_html("https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate")
df21 = pd.DataFrame(Literacy_df1[2])
df21

# All data for decade based census of india

                  State/UT   1951   1961   1971   1981   1991   2001   2011
0              A&N islands  30.30  40.07  51.15  63.19  73.02  81.30  86.63
1           Andhra Pradesh      -  21.19  24.57  35.66  44.08  60.47  67.02
2        Arunachal Pradesh      -   7.13  11.29  25.55  41.59  54.34  65.38
3                    Assam  18.53  32.95  33.94      -  52.89  63.25  72.19
4                    Bihar  13.49  21.95  23.17  32.32  37.49  47.00  61.80
5               Chandigarh      -      -  70.43  74.80  77.81  81.94  86.05
6             Chhattisgarh   9.41  18.14  24.08  32.63  42.91  64.66  70.28
7   Dadra and Nagar Haveli      -      -  18.13  32.90  40.71  57.63  76.24
8            Daman and Diu      -      -      -      -  71.20  78.18  87.10
9                    Delhi      -  61.95  65.08  71.94  75.29  81.67  86.21
10                     Goa  23.48  35.41  51.96  65.71  75.51  82.01  88.70
11                 Gujarat  21.82  31.47  36.95  44.92  61.29  69.14  78.03
12                 Haryana      -      -  25.71  37.13  55.85  67.91  75.55
13        Himachal Pradesh      -      -      -      -  63.86  76.48  82.80
14       Jammu and Kashmir      -  12.95  21.71  30.64      -  55.52  67.16
15               Jharkhand  12.93  21.14  23.87  35.03  41.39  53.56  66.41
16               Karnataka      -  29.80  36.83  46.21  56.04  66.06  75.36
17                  Kerala  47.18  55.08  69.75  78.85  89.81  90.86  94.00
18             Lakshadweep  15.23  27.15  51.76  68.42  81.78  86.66  91.85
19          Madhya Pradesh  13.16  21.41  27.27  38.63  44.67  63.74  69.32
20             Maharashtra  27.91  35.08  45.77  57.24  64.87  76.84  82.34
21                 Manipur  12.57  36.04  38.47  49.66  59.89  70.50  76.94
22                Meghalya      -  26.92  29.49  42.05  49.10  62.56  74.43
23                 Mizoram  31.14  44.01  53.80  59.88  82.26  88.80  91.33
24                Nagaland  10.52  21.95  33.78  50.28  61.65  66.59  79.55
25                  Odisha  15.80  21.66  26.18  33.62  49.09  63.08  72.87
26              Puducherry      -  43.65  53.38  65.14  74.74  81.24  85.85
27                  Punjab      -      -  34.12  43.37  58.51  69.65  75.84
28               Rajasthan    8.5  18.12  22.57  30.11  38.55  60.41  66.11
29                  Sikkim      -      -  17.74  34.05  56.94  68.81  81.42
30              Tamil Nadu      -  36.39  45.40  54.39  62.66  73.45  80.33
31                 Tripura      -  20.24  30.98  50.10  60.44  73.19  80.09
32           Uttar Pradesh  12.02  20.87  23.99  32.65  40.71  56.27  67.68
33             Uttarakhand  18.93  18.05  33.26  46.06  57.75  71.62  78.82
34             West Bengal  24.61  34.46  38.86  48.65  57.70  68.64  76.26
35                   India  18.33  28.30  34.45  43.57  52.21  64.84  74.04

In [11]:
df21.to_csv('Literacy_rate.csv')

In [12]:
df21 = pd.read_excel('Literacy_rate.xls') # Updated with following Notes
df21.loc[len(df21.index)] = ['35','Telangana', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 66.54]
df21.loc[len(df21.index)] = ['36','Ladakh', np.nan, np.nan, np.nan, np.nan, np.nan, 69.14, 78.03]

df21.rename(columns = {1951:'Literacy Rate 1951',1961:'Literacy Rate 1961',1971:'Literacy Rate 1971',
                       1981:'Literacy Rate 1981',1991:'Literacy Rate 1991',2001:'Literacy Rate 2001',
                       2011:'Literacy Rate 2011',}, inplace = True)
df21

,Unnamed: 0,State/UT,Literacy Rate 1951,Literacy Rate 1961,Literacy Rate 1971,Literacy Rate 1981,Literacy Rate 1991,Literacy Rate 2001,Literacy Rate 2011
0,0,A&N islands,30.3,40.07,51.15,63.19,73.02,81.30,86.63
1,1,Andhra Pradesh,-,21.19,24.57,35.66,44.08,60.47,67.02
2,2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.38
3,3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.19
4,4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.80
5,5,Chandigarh,-,NaN,70.43,74.80,77.81,81.94,86.05
6,6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.28
7,7,Dadra and Nagar Haveli,NaN,NaN,18.13,32.90,40.71,57.63,76.24
8,8,Daman and Diu,NaN,NaN,NaN,NaN,71.20,78.18,87.10
9,9,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.21
10,10,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.70
11,11,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.03
12,12,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.55
13,13,Himachal Pradesh,7.98,21.30,31.96,42.48,63.86,76.48,82.80
14,14,Jammu and Kashmir,-,12.95,21.71,30.64,NaN,55.52,67.16
15,15,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.41
16,16,Karnataka,-,29.80,36.83,46.21,56.04,66.06,75.36
17,17,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.00
18,18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.85
19,19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.32
20,20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.84,82.34
21,21,Manipur,12.57,36.04,38.47,49.66,59.89,70.50,76.94
22,22,Meghalya,NaN,26.92,29.49,42.05,49.10,62.56,74.43
23,23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.33
24,24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.55
25,25,Odisha,15.8,21.66,26.18,33.62,49.09,63.08,72.87
26,26,Puducherry,-,43.65,53.38,65.14,74.74,81.24,85.85
27,27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.84
28,28,Rajasthan,8.5,18.12,22.57,30.11,38.55,60.41,66.11
29,29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.42
30,30,Tamil Nadu,20.86,36.39,45.40,54.39,62.66,73.45,80.33
31,31,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,80.09
32,32,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.68
33,33,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.82
34,34,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.26
35,35,India,18.33,28.30,34.45,43.57,52.21,64.84,74.04
36,35,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,66.54
37,36,Ladakh,NaN,NaN,NaN,NaN,NaN,69.14,78.03

In [13]:
df21.iloc[7] = df21.iloc[7:9].sum()  # As Dadra Nagar Haveli and Daman & Diu consider one UT in other dataset. 
df21 = df21.drop([df21.index[8],df21.index[35]]) # Not required right now.

df21.sort_values(by='State/UT',inplace=True)
df21.reset_index(inplace=True,drop=True)
df21

,Unnamed: 0,State/UT,Literacy Rate 1951,Literacy Rate 1961,Literacy Rate 1971,Literacy Rate 1981,Literacy Rate 1991,Literacy Rate 2001,Literacy Rate 2011
0,0,A&N islands,30.3,40.07,51.15,63.19,73.02,81.30,86.63
1,1,Andhra Pradesh,-,21.19,24.57,35.66,44.08,60.47,67.02
2,2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.38
3,3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.19
4,4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.80
5,5,Chandigarh,-,NaN,70.43,74.80,77.81,81.94,86.05
6,6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.28
7,15,Dadra and Nagar HaveliDaman and Diu,0,0.00,18.13,32.90,111.91,135.81,163.34
8,9,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.21
9,10,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.70
10,11,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.03
11,12,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.55
12,13,Himachal Pradesh,7.98,21.30,31.96,42.48,63.86,76.48,82.80
13,14,Jammu and Kashmir,-,12.95,21.71,30.64,NaN,55.52,67.16
14,15,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.41
15,16,Karnataka,-,29.80,36.83,46.21,56.04,66.06,75.36
16,17,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.00
17,36,Ladakh,NaN,NaN,NaN,NaN,NaN,69.14,78.03
18,18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.85
19,19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.32
20,20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.84,82.34
21,21,Manipur,12.57,36.04,38.47,49.66,59.89,70.50,76.94
22,22,Meghalya,NaN,26.92,29.49,42.05,49.10,62.56,74.43
23,23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.33
24,24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.55
25,25,Odisha,15.8,21.66,26.18,33.62,49.09,63.08,72.87
26,26,Puducherry,-,43.65,53.38,65.14,74.74,81.24,85.85
27,27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.84
28,28,Rajasthan,8.5,18.12,22.57,30.11,38.55,60.41,66.11
29,29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.42
30,30,Tamil Nadu,20.86,36.39,45.40,54.39,62.66,73.45,80.33
31,35,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,66.54
32,31,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,80.09
33,32,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.68
34,33,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.82
35,34,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.26

# Note: 

let's update this table's most of data based on Ref: https://www.indiabudget.gov.in/budget_archive/es2006-07/chapt2007/tab94.pdf


1. Literacy rates for 1951, 1961 and 1971 Censuses relate to population aged five years and above. The rates for the 1981, 1991 and 2001
Censuses relate to the population aged seven years and above. The literacy rate for 1951 in case of West Bengal relates to Total
population including 0-4 age group. Literacy rate for 1951 in respect of Chhatisgarg, Madhya Pradesh and Manipur are based on sample
population.

2. India and Manipur figures exclude those of the three sub-divisions viz. Mao Maram, Paomata and Purul of Senapati district of Manipur
as census results of 2001 in these three sub-divisions were cancelled due to technical and administrative reasons.

3. N.A. - Not available 

4. No census was carried out in Assam during 1981 and in Jammu & Kashmir during 1991.

5. Created in 2001. Uttaranchal Pradesh, Jharkhand and Chattisgarh for 1981 and 1991 are included under Uttar Pradesh, Bihar and Madhya Pradesh respectively.

6. Dadra and Nagar Haveli as a union territory, effective 11 August 1961.

7. Daman and Diu came into existence on30th May, 1987.

8. State Fromation of Haryana & Panjab Date : 1 November 1966.

9. State Fromation of Sikkim Date : 16 May 1975.
    
10. Tamil Nadu State's missing data filled based on, Ref: https://www.brainkart.com/article/Educational-progress-in-Tamil-Nadu_1499/

11. Himachal Pradesh State's missing data filled based on, Ref: https://hpgeneralstudies.com/literacy-rate-himachal-pradesh-1951-2011/

12. Telangana State formarion in 2014. data based on, Ref: https://testbook.com/question-answer/as-per-the-2011-census-in-telangana-female-male--60bf7af236ba1741a54f020c#:~:text=The%20literacy%20rate%20of%20the,total%20literacy%20rate%20of%2083.25%25.
        
13. State Formation of Ladakh : October, 2019, Ref: https://censusofindia2021.com/ut-ladakh-population-2021-census-data/, https://www.census2011.co.in/data/town/800047-leh-ladakh-jammu-and-kashmir.html#:~:text=Literacy%20rate%20of%20Leh%20Ladakh,female%20literacy%20rate%20is%2078.85%20%25.
                

Source: Office of the Registrar General, India

Indian States by Literacy rate of 2023

Ref: https://www.findeasy.in/indian-states-by-literacy-rate/

In [14]:
#Read data from specified URL

Literacy_df2 = pd.read_html("https://www.findeasy.in/indian-states-by-literacy-rate/",header=0)
df22 = pd.DataFrame(Literacy_df2[1])
df22

,States & Union Territories,MaleLiteracy Rate %,FemaleLiteracy Rate %,AverageLiteracy Rate %
0,A&N islands,90.11,81.84,86.27
1,Andhra Pradesh,73.40,59.50,66.40
2,Arunachal Pradesh,73.69,59.57,66.95
3,Assam,90.10,81.20,85.90
4,Bihar,79.70,60.50,70.90
5,Chhattisgarh,85.40,68.70,77.30
6,Chandigarh,90.54,81.38,86.43
7,Dadra and Nagar Haveli,86.46,65.93,77.65
8,Daman & Diu,91.48,79.59,87.07
9,Delhi,93.70,82.40,88.70
10,Goa,92.81,81.84,87.40
11,Gujarat,89.50,74.80,82.40
12,Haryana,88.00,71.30,80.40
13,Himachal Pradesh,92.90,80.50,86.60
14,Jammu & Kashmir,85.70,68.00,77.30
15,Jharkhand,83.00,64.70,74.30
16,Karnataka,83.40,70.50,77.20
17,Kerala,97.40,95.20,96.20
18,Lakshadweep,96.11,88.25,92.28
19,Madhya Pradesh,81.20,65.50,73.70
20,Maharashtra,90.70,78.40,84.80
21,Manipur,86.49,73.17,79.85
22,Meghalaya,77.17,73.78,75.48
23,Mizoram,93.72,89.40,91.58
24,Nagaland,83.29,76.69,80.11
25,Odisha,84.00,70.30,77.30
26,Puducherry,92.12,81.22,86.55
27,Punjab,88.50,78.50,83.70
28,Rajasthan,80.80,57.60,69.70
29,Sikkim,87.29,76.43,82.20
30,Tamil Nadu,87.90,77.90,82.90
31,Telangana,80.50,65.10,72.80
32,Tripura,92.18,83.15,87.75
33,Uttarakhand,94.30,80.70,87.60
34,Uttar Pradesh,81.80,63.40,73.00
35,West Bengal,84.80,76.10,80.50
36,All-India,84.70,70.30,77.70

In [15]:
df22.loc[len(df22.index)] = ['Ladakh', 94.89, 78.85, 86.67]
df22.rename(columns = {'AverageLiteracy Rate %':'Literact Rate 2023'}, inplace = True)
df22.drop(columns=['MaleLiteracy Rate %','FemaleLiteracy Rate %'],inplace=True) # Not required these columns
df22

   States & Union Territories  Literact Rate 2023
0                 A&N islands               86.27
1              Andhra Pradesh               66.40
2           Arunachal Pradesh               66.95
3                       Assam               85.90
4                       Bihar               70.90
5                Chhattisgarh               77.30
6                  Chandigarh               86.43
7      Dadra and Nagar Haveli               77.65
8                 Daman & Diu               87.07
9                       Delhi               88.70
10                        Goa               87.40
11                    Gujarat               82.40
12                    Haryana               80.40
13           Himachal Pradesh               86.60
14            Jammu & Kashmir               77.30
15                  Jharkhand               74.30
16                  Karnataka               77.20
17                     Kerala               96.20
18                Lakshadweep               92.28
19             Madhya Pradesh               73.70
20                Maharashtra               84.80
21                    Manipur               79.85
22                  Meghalaya               75.48
23                    Mizoram               91.58
24                   Nagaland               80.11
25                     Odisha               77.30
26                 Puducherry               86.55
27                     Punjab               83.70
28                  Rajasthan               69.70
29                     Sikkim               82.20
30                 Tamil Nadu               82.90
31                  Telangana               72.80
32                    Tripura               87.75
33                Uttarakhand               87.60
34              Uttar Pradesh               73.00
35                West Bengal               80.50
36                  All-India               77.70
37                     Ladakh               86.67

In [16]:
df22.iloc[7] = df22.iloc[7:9].sum()  # As Dadra Nagar Haveli and Daman & Diu consider one UT in other dataset. 
df22 = df22.drop([df22.index[8],df22.index[36]]) # Not required right now.
df22

           States & Union Territories  Literact Rate 2023
0                         A&N islands               86.27
1                      Andhra Pradesh               66.40
2                   Arunachal Pradesh               66.95
3                               Assam               85.90
4                               Bihar               70.90
5                        Chhattisgarh               77.30
6                          Chandigarh               86.43
7   Dadra and Nagar HaveliDaman & Diu              164.72
9                               Delhi               88.70
10                                Goa               87.40
11                            Gujarat               82.40
12                            Haryana               80.40
13                   Himachal Pradesh               86.60
14                    Jammu & Kashmir               77.30
15                          Jharkhand               74.30
16                          Karnataka               77.20
17                             Kerala               96.20
18                        Lakshadweep               92.28
19                     Madhya Pradesh               73.70
20                        Maharashtra               84.80
21                            Manipur               79.85
22                          Meghalaya               75.48
23                            Mizoram               91.58
24                           Nagaland               80.11
25                             Odisha               77.30
26                         Puducherry               86.55
27                             Punjab               83.70
28                          Rajasthan               69.70
29                             Sikkim               82.20
30                         Tamil Nadu               82.90
31                          Telangana               72.80
32                            Tripura               87.75
33                        Uttarakhand               87.60
34                      Uttar Pradesh               73.00
35                        West Bengal               80.50
37                             Ladakh               86.67

In [17]:
df22.sort_values(by='States & Union Territories',inplace=True)
df22.reset_index(inplace=True,drop=True)
df22

           States & Union Territories  Literact Rate 2023
0                         A&N islands               86.27
1                      Andhra Pradesh               66.40
2                   Arunachal Pradesh               66.95
3                               Assam               85.90
4                               Bihar               70.90
5                          Chandigarh               86.43
6                        Chhattisgarh               77.30
7   Dadra and Nagar HaveliDaman & Diu              164.72
8                               Delhi               88.70
9                                 Goa               87.40
10                            Gujarat               82.40
11                            Haryana               80.40
12                   Himachal Pradesh               86.60
13                    Jammu & Kashmir               77.30
14                          Jharkhand               74.30
15                          Karnataka               77.20
16                             Kerala               96.20
17                             Ladakh               86.67
18                        Lakshadweep               92.28
19                     Madhya Pradesh               73.70
20                        Maharashtra               84.80
21                            Manipur               79.85
22                          Meghalaya               75.48
23                            Mizoram               91.58
24                           Nagaland               80.11
25                             Odisha               77.30
26                         Puducherry               86.55
27                             Punjab               83.70
28                          Rajasthan               69.70
29                             Sikkim               82.20
30                         Tamil Nadu               82.90
31                          Telangana               72.80
32                            Tripura               87.75
33                      Uttar Pradesh               73.00
34                        Uttarakhand               87.60
35                        West Bengal               80.50

In [18]:
df2 = pd.concat([df21,df22],axis=1)
df2.drop(columns='Unnamed: 0',inplace=True)
df2

,State/UT,Literacy Rate 1951,Literacy Rate 1961,Literacy Rate 1971,Literacy Rate 1981,Literacy Rate 1991,Literacy Rate 2001,Literacy Rate 2011,States & Union Territories,Literact Rate 2023
0,A&N islands,30.3,40.07,51.15,63.19,73.02,81.30,86.63,A&N islands,86.27
1,Andhra Pradesh,-,21.19,24.57,35.66,44.08,60.47,67.02,Andhra Pradesh,66.40
2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.38,Arunachal Pradesh,66.95
3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.19,Assam,85.90
4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.80,Bihar,70.90
5,Chandigarh,-,NaN,70.43,74.80,77.81,81.94,86.05,Chandigarh,86.43
6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.28,Chhattisgarh,77.30
7,Dadra and Nagar HaveliDaman and Diu,0,0.00,18.13,32.90,111.91,135.81,163.34,Dadra and Nagar HaveliDaman & Diu,164.72
8,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.21,Delhi,88.70
9,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.70,Goa,87.40
10,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.03,Gujarat,82.40
11,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.55,Haryana,80.40
12,Himachal Pradesh,7.98,21.30,31.96,42.48,63.86,76.48,82.80,Himachal Pradesh,86.60
13,Jammu and Kashmir,-,12.95,21.71,30.64,NaN,55.52,67.16,Jammu & Kashmir,77.30
14,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.41,Jharkhand,74.30
15,Karnataka,-,29.80,36.83,46.21,56.04,66.06,75.36,Karnataka,77.20
16,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.00,Kerala,96.20
17,Ladakh,NaN,NaN,NaN,NaN,NaN,69.14,78.03,Ladakh,86.67
18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.85,Lakshadweep,92.28
19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.32,Madhya Pradesh,73.70
20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.84,82.34,Maharashtra,84.80
21,Manipur,12.57,36.04,38.47,49.66,59.89,70.50,76.94,Manipur,79.85
22,Meghalya,NaN,26.92,29.49,42.05,49.10,62.56,74.43,Meghalaya,75.48
23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.33,Mizoram,91.58
24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.55,Nagaland,80.11
25,Odisha,15.8,21.66,26.18,33.62,49.09,63.08,72.87,Odisha,77.30
26,Puducherry,-,43.65,53.38,65.14,74.74,81.24,85.85,Puducherry,86.55
27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.84,Punjab,83.70
28,Rajasthan,8.5,18.12,22.57,30.11,38.55,60.41,66.11,Rajasthan,69.70
29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.42,Sikkim,82.20
30,Tamil Nadu,20.86,36.39,45.40,54.39,62.66,73.45,80.33,Tamil Nadu,82.90
31,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,66.54,Telangana,72.80
32,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,80.09,Tripura,87.75
33,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.68,Uttar Pradesh,73.00
34,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.82,Uttarakhand,87.60
35,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.26,West Bengal,80.50

In [19]:
df2.replace(np.nan,'NA',inplace=True)
Indian_Literacy_Rate_File = df2
Indian_Literacy_Rate_File.to_csv('Indian_Literacy_Rate_upto-2023.csv')

# * Req_3 : Area of each state *

Indian States by Area, Ref: https://www.findeasy.in/top-indian-states-by-area/

In [20]:
#Read data from specified URL

area_df1 = pd.read_html("https://www.findeasy.in/top-indian-states-by-area/",header=0)
df31 = pd.DataFrame(area_df1[0])
df31

    Rank          States/UT  Area (sq. km)  Density* (p/km2)
0      1          Rajasthan         342239               241
1      2     Madhya Pradesh         308245               282
2      3        Maharashtra         307713               404
3      4      Uttar Pradesh         240928               996
4      5            Gujarat         196024               328
5      6          Karnataka         191791               356
6      7     Andhra Pradesh         162968               334
7      8       Chhattisgarh         135191               220
8      9         Tamil Nadu         130051               604
9     10          Telangana         112077               355
10    11              Bihar          94163              1349
11    12        West Bengal          88752              1127
12    13  Arunachal Pradesh          83743                19
13    14          Jharkhand          79714               492
14    15              Assam          78438               459
15    16             Odisha          55707               842
16    17   Himachal Pradesh          55673               135
17    18        Uttarakhand          53483               213
18    19             Punjab          50362               596
19    20            Haryana          44212               645
20    21             Kerala          38863               926
21    22          Meghalaya          22429               152
22    23            Manipur          22327               143
23    24            Mizoram          21081                60
24    25           Nagaland          16579               139
25    26            Tripura          10486               401
26    27             Sikkim           7096               986
27    28                Goa           3702               432

In [21]:
df31.sort_values(by='States/UT',inplace=True)
df31.drop(columns='Rank',inplace=True)
df31.reset_index(inplace=True,drop=True)
df31

            States/UT  Area (sq. km)  Density* (p/km2)
0      Andhra Pradesh         162968               334
1   Arunachal Pradesh          83743                19
2               Assam          78438               459
3               Bihar          94163              1349
4        Chhattisgarh         135191               220
5                 Goa           3702               432
6             Gujarat         196024               328
7             Haryana          44212               645
8    Himachal Pradesh          55673               135
9           Jharkhand          79714               492
10          Karnataka         191791               356
11             Kerala          38863               926
12     Madhya Pradesh         308245               282
13        Maharashtra         307713               404
14            Manipur          22327               143
15          Meghalaya          22429               152
16            Mizoram          21081                60
17           Nagaland          16579               139
18             Odisha          55707               842
19             Punjab          50362               596
20          Rajasthan         342239               241
21             Sikkim           7096               986
22         Tamil Nadu         130051               604
23          Telangana         112077               355
24            Tripura          10486               401
25      Uttar Pradesh         240928               996
26        Uttarakhand          53483               213
27        West Bengal          88752              1127

Indian UT by Area, Ref: https://www.findeasy.in/top-indian-states-by-area/

In [22]:
#Read data from specified URL

area_df2 = pd.read_html("https://www.findeasy.in/top-indian-states-by-area/",header=0)
df32 = pd.DataFrame(area_df2[1])
df32

   Rank                     Union Territories  Area (sq. km)  Density* (p/km2)
0     1                                Ladakh          96701                 3
1     2                       Jammu & Kashmir          42241               327
2     3                     Andaman & Nicobar           8249                51
3     4   National Capital Territory of Delhi           1484             12803
4     5  Dadra & Nagar Haveli and Daman & Diu            603              1028
5     6                            Puducherry            479              2990
6     7                            Chandigarh            114             10254
7     8                           Lakshadweep             32              2317

In [23]:
df32.sort_values(by='Union Territories',inplace=True)
df32.drop(columns='Rank',inplace=True)
df32.rename(columns = {'Union Territories':'States/UT'}, inplace = True)
df32.replace('National Capital Territory of Delhi','Delhi',inplace=True)
df32.reset_index(inplace=True,drop=True)
df32

                              States/UT  Area (sq. km)  Density* (p/km2)
0                     Andaman & Nicobar           8249                51
1                            Chandigarh            114             10254
2  Dadra & Nagar Haveli and Daman & Diu            603              1028
3                       Jammu & Kashmir          42241               327
4                                Ladakh          96701                 3
5                           Lakshadweep             32              2317
6                                 Delhi           1484             12803
7                            Puducherry            479              2990

In [24]:
df3 = pd.concat([df31,df32],axis=0)
df3.sort_values(by='States/UT',inplace=True)
df3.drop(columns='Density* (p/km2)',inplace=True)
df3.reset_index(inplace=True,drop=True)
df3

                               States/UT  Area (sq. km)
0                      Andaman & Nicobar           8249
1                         Andhra Pradesh         162968
2                      Arunachal Pradesh          83743
3                                  Assam          78438
4                                  Bihar          94163
5                             Chandigarh            114
6                           Chhattisgarh         135191
7   Dadra & Nagar Haveli and Daman & Diu            603
8                                  Delhi           1484
9                                    Goa           3702
10                               Gujarat         196024
11                               Haryana          44212
12                      Himachal Pradesh          55673
13                       Jammu & Kashmir          42241
14                             Jharkhand          79714
15                             Karnataka         191791
16                                Kerala          38863
17                                Ladakh          96701
18                           Lakshadweep             32
19                        Madhya Pradesh         308245
20                           Maharashtra         307713
21                               Manipur          22327
22                             Meghalaya          22429
23                               Mizoram          21081
24                              Nagaland          16579
25                                Odisha          55707
26                            Puducherry            479
27                                Punjab          50362
28                             Rajasthan         342239
29                                Sikkim           7096
30                            Tamil Nadu         130051
31                             Telangana         112077
32                               Tripura          10486
33                         Uttar Pradesh         240928
34                           Uttarakhand          53483
35                           West Bengal          88752

In [25]:
Indian_StateUT_Area_File = df3
Indian_StateUT_Area_File.to_csv('Indian_StateUT_Area.csv')

# * Req_4 : All Notes *

# * Req_5 : Final file which keep the above-collected data *

In [26]:
df = pd.concat([df3,df2,df1],axis=1)
df

,States/UT,Area (sq. km),State/UT,Literacy Rate 1951,Literacy Rate 1961,Literacy Rate 1971,Literacy Rate 1981,Literacy Rate 1991,Literacy Rate 2001,Literacy Rate 2011,...,Literact Rate 2023,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11],Population 2023
0,Andaman & Nicobar,8249,A&N islands,30.3,40.07,51.15,63.19,73.02,81.3,86.63,...,86.27,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,356650.0,379944,403000
1,Andhra Pradesh,162968,Andhra Pradesh,-,21.19,24.57,35.66,44.08,60.47,67.02,...,66.40,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,75728400.0,49386799,53156000
2,Arunachal Pradesh,83743,Arunachal Pradesh,NA,7.13,11.29,25.55,41.59,54.34,65.38,...,66.95,Arunachal Pradesh,NA,337300.0,468885.0,632502.0,865900.0,1098328.0,1382611,1562000
3,Assam,78438,Assam,18.53,32.95,33.94,NA,52.89,63.25,72.19,...,85.90,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,26638600.0,31169272,35713000
4,Bihar,94163,Bihar,13.49,21.95,23.17,32.32,37.49,47.0,61.80,...,70.90,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,82879910.0,103804630,126756000
5,Chandigarh,114,Chandigarh,-,NA,70.43,74.8,77.81,81.94,86.05,...,86.43,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,901080.0,1054686,1231000
6,Chhattisgarh,135191,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.28,...,77.30,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,20834530.0,25540196,30180000
7,Dadra & Nagar Haveli and Daman & Diu,603,Dadra and Nagar HaveliDaman and Diu,0,0.0,18.13,32.9,111.91,135.81,163.34,...,164.72,Dadra and Nagar HaveliDaman and Diu,92328.0,95607.0,137880.0,184142.0,240400.0,379043.0,585764,1263000
8,Delhi,1484,Delhi,NA,61.95,65.08,71.94,75.29,81.67,86.21,...,88.70,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,13851503.0,16753235,21359000
9,Goa,3702,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.70,...,87.40,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1348900.0,1457723,1575000
10,Gujarat,196024,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.03,...,82.40,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,50597200.0,60383628,71507000
11,Haryana,44212,Haryana,NA,NA,25.71,37.13,55.85,67.91,75.55,...,80.40,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,21083900.0,25753081,30209000
12,Himachal Pradesh,55673,Himachal Pradesh,7.98,21.3,31.96,42.48,63.86,76.48,82.80,...,86.60,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6077453.0,6856509,7468000
13,Jammu & Kashmir,42241,Jammu and Kashmir,-,12.95,21.71,30.64,NA,55.52,67.16,...,77.30,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,10070300.0,12548926,13603000
14,Jharkhand,79714,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.41,...,74.30,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,26946070.0,32988134,39466000
15,Karnataka,191791,Karnataka,-,29.8,36.83,46.21,56.04,66.06,75.36,...,77.20,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,52734986.0,61130704,67692000
16,Kerala,38863,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.00,...,96.20,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,31839000.0,33387677,35776000
17,Ladakh,96701,Ladakh,NA,NA,NA,NA,NA,69.14,78.03,...,86.67,Ladakh,NA,NA,NA,NA,NA,NA,274289,300000
18,Lakshadweep,32,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.85,...,92.28,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,61300.0,64429,69000
19,Madhya Pradesh,308245,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.32,...,73.70,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,60385090.0,72597565,86579000
20,Maharashtra,307713,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.84,82.34,...,84.80,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,96752500.0,112372972,126385000
21,Manipur,22327,Manipur,12.57,36.04,38.47,49.66,59.89,70.5,76.94,...,79.85,Manipur,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2294480.0,2721756,3223000
22,Meghalaya,22429,Meghalya,NA,26.92,29.49,42.05,49.1,62.56,74.43,...,75.48,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2306540.0,2964007,3349000
23,Mizoram,21081,Mizoram,31.14,44.01,53.8,59.88,82.26,88.8,91.33,...,91.58,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,889690.0,1091014,1238000
24,Nagaland,16579,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.55,...,80.11,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1990275.0,1980602,2233000
25,Odisha,55707,Odisha,15.8,21.66,26.18,33.62,49.09,63.08,72.87,...,77.30,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,36707900.0,41947358,46276000
26,Puducherry,479,Puducherry,-,43.65,53.38,65.14,74.74,81.24,85.85,...,86.55,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,974820.0,1244464,1646000
27,Punjab,50362,Punjab,NA,NA,34.12,43.37,58.51,69.65,75.84,...,83.70,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,24289130.0,27704236,30730000
28,Rajasthan,342239,Rajasthan,8.5,18.12,22.57,30.11,38.55,60.41,66.11,...,69.70,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,56473300.0,68621012,81025000
29,Sikkim,7096,Sikkim,NA,NA,17.74,34.05,56.94,68.81,81.42,...,82.20,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,541902.0,607688,689000
30,Tamil Nadu,130051,Tamil Nadu,20.86,36.39,45.4,54.39,62.66,73.45,80.33,...,82.90,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,62111390.0,72138958,76860000
31,Telangana,112077,Telangana,NA,NA,NA,NA,NA,NA,66.54,...,72.80,Telangana,NA,NA,NA,NA,NA,NA,35193978,38090000
32,Tripura,10486,Tripura,NA,20.24,30.98,50.1,60.44,73.19,80.09,...,87.75,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3191880.0,3671032,4147000
33,Uttar Pradesh,240928,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.68,...,73.00,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,166053600.0,199581477,235687000
34,Uttarakhand,53483,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.82,...,87.60,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8489100.0,10116752,11637000
35,West Bengal,88752,West Bengal,24.61,34.46,38.86,48.65,57.7,68.64,76.26,...,80.50,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,80221300.0,91347736,99084000

In [27]:
df2.drop(columns='State/UT',inplace=True)
df1.drop(columns='State or union territory',inplace=True)
df_final = pd.concat([df3,df2,df1],axis=1)
df_final

,States/UT,Area (sq. km),Literacy Rate 1951,Literacy Rate 1961,Literacy Rate 1971,Literacy Rate 1981,Literacy Rate 1991,Literacy Rate 2001,Literacy Rate 2011,States & Union Territories,Literact Rate 2023,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11],Population 2023
0,Andaman & Nicobar,8249,30.3,40.07,51.15,63.19,73.02,81.3,86.63,A&N islands,86.27,31480.0,64160.0,115874.0,189496.0,281990.0,356650.0,379944,403000
1,Andhra Pradesh,162968,-,21.19,24.57,35.66,44.08,60.47,67.02,Andhra Pradesh,66.40,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,75728400.0,49386799,53156000
2,Arunachal Pradesh,83743,NA,7.13,11.29,25.55,41.59,54.34,65.38,Arunachal Pradesh,66.95,NA,337300.0,468885.0,632502.0,865900.0,1098328.0,1382611,1562000
3,Assam,78438,18.53,32.95,33.94,NA,52.89,63.25,72.19,Assam,85.90,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,26638600.0,31169272,35713000
4,Bihar,94163,13.49,21.95,23.17,32.32,37.49,47.0,61.80,Bihar,70.90,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,82879910.0,103804630,126756000
5,Chandigarh,114,-,NA,70.43,74.8,77.81,81.94,86.05,Chandigarh,86.43,24948.0,120480.0,257100.0,452960.0,642374.0,901080.0,1054686,1231000
6,Chhattisgarh,135191,9.41,18.14,24.08,32.63,42.91,64.66,70.28,Chhattisgarh,77.30,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,20834530.0,25540196,30180000
7,Dadra & Nagar Haveli and Daman & Diu,603,0,0.0,18.13,32.9,111.91,135.81,163.34,Dadra and Nagar HaveliDaman & Diu,164.72,92328.0,95607.0,137880.0,184142.0,240400.0,379043.0,585764,1263000
8,Delhi,1484,NA,61.95,65.08,71.94,75.29,81.67,86.21,Delhi,88.70,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,13851503.0,16753235,21359000
9,Goa,3702,23.48,35.41,51.96,65.71,75.51,82.01,88.70,Goa,87.40,547000.0,590875.0,795997.0,1008373.0,1170115.0,1348900.0,1457723,1575000
10,Gujarat,196024,21.82,31.47,36.95,44.92,61.29,69.14,78.03,Gujarat,82.40,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,50597200.0,60383628,71507000
11,Haryana,44212,NA,NA,25.71,37.13,55.85,67.91,75.55,Haryana,80.40,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,21083900.0,25753081,30209000
12,Himachal Pradesh,55673,7.98,21.3,31.96,42.48,63.86,76.48,82.80,Himachal Pradesh,86.60,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6077453.0,6856509,7468000
13,Jammu & Kashmir,42241,-,12.95,21.71,30.64,NA,55.52,67.16,Jammu & Kashmir,77.30,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,10070300.0,12548926,13603000
14,Jharkhand,79714,12.93,21.14,23.87,35.03,41.39,53.56,66.41,Jharkhand,74.30,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,26946070.0,32988134,39466000
15,Karnataka,191791,-,29.8,36.83,46.21,56.04,66.06,75.36,Karnataka,77.20,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,52734986.0,61130704,67692000
16,Kerala,38863,47.18,55.08,69.75,78.85,89.81,90.86,94.00,Kerala,96.20,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,31839000.0,33387677,35776000
17,Ladakh,96701,NA,NA,NA,NA,NA,69.14,78.03,Ladakh,86.67,NA,NA,NA,NA,NA,NA,274289,300000
18,Lakshadweep,32,15.23,27.15,51.76,68.42,81.78,86.66,91.85,Lakshadweep,92.28,21000.0,24370.0,32900.0,40250.0,52820.0,61300.0,64429,69000
19,Madhya Pradesh,308245,13.16,21.41,27.27,38.63,44.67,63.74,69.32,Madhya Pradesh,73.70,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,60385090.0,72597565,86579000
20,Maharashtra,307713,27.91,35.08,45.77,57.24,64.87,76.84,82.34,Maharashtra,84.80,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,96752500.0,112372972,126385000
21,Manipur,22327,12.57,36.04,38.47,49.66,59.89,70.5,76.94,Manipur,79.85,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2294480.0,2721756,3223000
22,Meghalaya,22429,NA,26.92,29.49,42.05,49.1,62.56,74.43,Meghalaya,75.48,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2306540.0,2964007,3349000
23,Mizoram,21081,31.14,44.01,53.8,59.88,82.26,88.8,91.33,Mizoram,91.58,196970.0,266200.0,332190.0,494440.0,690963.0,889690.0,1091014,1238000
24,Nagaland,16579,10.52,21.95,33.78,50.28,61.65,66.59,79.55,Nagaland,80.11,213700.0,369309.0,516110.0,775570.0,1210492.0,1990275.0,1980602,2233000
25,Odisha,55707,15.8,21.66,26.18,33.62,49.09,63.08,72.87,Odisha,77.30,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,36707900.0,41947358,46276000
26,Puducherry,479,-,43.65,53.38,65.14,74.74,81.24,85.85,Puducherry,86.55,317407.0,369355.0,472836.0,604281.0,808117.0,974820.0,1244464,1646000
27,Punjab,50362,NA,NA,34.12,43.37,58.51,69.65,75.84,Punjab,83.70,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,24289130.0,27704236,30730000
28,Rajasthan,342239,8.5,18.12,22.57,30.11,38.55,60.41,66.11,Rajasthan,69.70,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,56473300.0,68621012,81025000
29,Sikkim,7096,NA,NA,17.74,34.05,56.94,68.81,81.42,Sikkim,82.20,138093.0,162863.0,210205.0,316840.0,406000.0,541902.0,607688,689000
30,Tamil Nadu,130051,20.86,36.39,45.4,54.39,62.66,73.45,80.33,Tamil Nadu,82.90,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,62111390.0,72138958,76860000
31,Telangana,112077,NA,NA,NA,NA,NA,NA,66.54,Telangana,72.80,NA,NA,NA,NA,NA,NA,35193978,38090000
32,Tripura,10486,NA,20.24,30.98,50.1,60.44,73.19,80.09,Tripura,87.75,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3191880.0,3671032,4147000
33,Uttar Pradesh,240928,12.02,20.87,23.99,32.65,40.71,56.27,67.68,Uttar Pradesh,73.00,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,166053600.0,199581477,235687000
34,Uttarakhand,53483,18.93,18.05,33.26,46.06,57.75,71.62,78.82,Uttarakhand,87.60,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8489100.0,10116752,11637000
35,West Bengal,88752,24.61,34.46,38.86,48.65,57.7,68.64,76.26,West Bengal,80.50,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,80221300.0,91347736,99084000

 Please read notes for NA* = Not Applicable